<div class="flex flex-col">
  <nav
    class="font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-gray-800 shadow sm:items-baseline w-full text-white"
  >
    <div class="mb-2 sm:mb-0">
      <a
        href="/"
        class="text-2xl no-underline text-grey-darkest hover:text-blue-dark"
        >AdvancedCarePlan</a
      >
    </div>
  </nav>
  <div class="items-center justify-center mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
